{% extends 'blog/base.html' %} {% block content %} {%load static %}
<section class="home_header">
  <div class="home_title">
    <div class="home_title_text">
      <h4 class="light_title">Offering All Kinds of</h4>
      <h4 class="bold_title">FILM PRODUCTION SERVICES</h4>
      <button class="home_Title_button">Enquire Now</button>
    </div>
  </div>
</section>
<section class="container">
  <div id="Services">
    <h3 data-aos="flip-left" class="sec_title">Services</h3>
    <div>
      <div
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        class="row"
      >
        {% for post in posts %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <img
              class="card-img-top"
              src={{ post.image.url }}
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 data-aos="fade-up" class="card-title">{{ post.title }}</h5>
              <p data-aos="fade-up" class="card-text">{{ post.intro }}</p>
              <a class="readmore" href="{% url 'post_detail' post.slug %}"
                >Read more</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% for about in abouts %}
  <div id="AboutUs">
    <div class="row aboutus">
      <div data-aos="flip-right" class="col-sm-6">
        <img class="about_img" src="{% static 'aboutImg.webp' %}" />
      </div>
      <div data-aos="flip-left" class="col-sm-6">
        <h3 class="sec_title">{{ about.title }}</h3>
        <p class="about_text">{{ about.body }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  <div id="Gallery" class="py-5">
    <h3 data-aos="flip-left" class="sec_title mt-5">Gallery</h3>
    <div class="row gallery">
      {% for gallery in gallerys %}
      <div class="col-sm-4">
        <img
          data-aos="zoom-in-up"
          class="gallery_post"
          src={{ gallery.image.url }}
        />
      </div>
        {% endfor %}
    </div>
  </div>
  <div id="Videos" class="py-5">
    <h3 data-aos="flip-left" class="sec_title mt-5">Videos</h3>
    <div class="row Videos">
    {% for video in videos %}
      <div class="col-sm-6">
        <video class="video" controls>
          <source src={{ video.video.url }} type="video/mp4" />
          Your browser does not support HTML video.
        </video>
        <p class="videoTitle">{{ video.title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="OurTeam" class="sliderRoot py-5">
    <div class="row w-100">
      <div class="col-sm-12 col-md-4"></div>
      <div class="col-sm-12 col-md-8">
        <div class="top-content">
          <div class="container-fluid">
            <div
              id="carousel-example"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner row w-100 mx-auto" role="listbox">
               {% for myteam in myteams %}
                <div class="carousel-item col-12 col-md-6 {% cycle '' 'active' %}">
                  <div class="teambox">
                    <img
                      class="teamimg"
                      alt="gallery"
                      src={{ myteam.image.url }}
                    />
                    <h5 class="Team_name">{{ myteam.title }}</h5>
                    <p class="Team_text">
                     {{ myteam.body }}
                    </p>
                  </div>
                </div>
                {% endfor %}
              </div>
              <a
                class="carousel-control-prev"
                href="#carousel-example"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carousel-example"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="ContactUs">
    <div class="test"></div>
    <h3 data-aos="flip-left" class="sec_title mt-5">Contact Us</h3>
    <div class="row ContactUs">
      <div data-aos="fade-right" class="col-md-6 col-xs-12">
        <div class="contact_info">
          <i class="contact_icon fas fa-map-marker-alt"></i>
          <div class="contact_text">
            <p class="contact_title">Our Office Address</p>
            <span class="contact_body"
              >Malad West, Mumbai, Maharashtra 400064</span
            >
          </div>
        </div>
        <div class="contact_info">
          <i class="contact_icon fas fa-envelope"></i>
          <div class="contact_text">
            <p class="contact_title">General Enquiries</p>
            <span class="contact_body">FarzanjelvehStudio@gmail.com</span>
          </div>
        </div>
        <div class="contact_info">
          <i class="contact_icon fas fa-phone-alt"></i>
          <div class="contact_text">
            <p class="contact_title">Call Us</p>
            <span class="contact_body">+989120213558</span>
          </div>
        </div>
        <div class="contact_info">
          <i class="contact_icon fas fa-clock"></i>
          <div class="contact_text">
            <p class="contact_title">Our Timing</p>
            <span class="contact_body">09:00 AM - 09:00 PM</span>
          </div>
        </div>
      </div>
      <div data-aos="fade-left" class="col-md-6 col-xs-12">
        <form class="contact_form">
          <input class="contact_input" type="text" placeholder="Your Name" />
          <input class="contact_input" type="text" placeholder="Your Email" />
          <input
            class="contact_input"
            type="text"
            placeholder="Your Contact No."
          />
          <textarea
            class="contact_input contact_textarea"
            type="text"
            placeholder="Your Message"
          ></textarea>
          <button class="contact_submit">submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="responsive-map">
    <div class="mapouter">
      <div class="gmap_canvas">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              width="718"
              height="500"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=%D8%A7%D8%B3%D8%AA%D8%A7%D9%86%20%D8%AA%D9%87%D8%B1%D8%A7%D9%86%20%D8%AA%D9%87%D8%B1%D8%A7%D9%86%20%D9%85%D9%86%D8%B7%D9%82%D9%87%20%DB%B3%20%D8%AE%DB%8C%D8%A7%D8%A8%D8%A7%D9%86%20%D9%88%D9%84%DB%8C%D8%B9%D8%B5%D8%B1%D8%8C,%20%D8%AE%DB%8C%D8%A7%D8%A8%D8%A7%D9%86%20%D8%B3%D8%B9%DB%8C%D8%AF%DB%8C&t=&z=15&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe
            ><br />
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</section>
{% endblock %}
