{% extends 'blog/base.html' %} {% block content %}
<div class="detail_section" >
<div class="card_detail">
  <img class="card-img" src={{ post.image.url }} alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title font-weight-bold">{{ post.title }}</h4>
    <p class="card-text">{{ post.intro }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ post.body }}</li>
    <li style="color:#e6c61f" class="list-group-item  font-weight-bold">{{ post.date_added }}</li>
  </ul>
</div>
</div>
{% endblock %}
