body {
  font-family: unset;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
  top: 100px;
}
.navbar {
  background-color: transparent !important;
  display: block;
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  font-weight: 400;
  position: relative;
}
.contacts_left {
  display: flex;
  align-items: center;
}
.socials {
  display: flex;
}
.social_icon {
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.social_icon:hover {
  color: #a58f11 !important;
  cursor: pointer;
}
.logo_img {
  max-width: 250px;
  max-height: 95px;
  width: auto;
  height: auto;
}
.navbar_section {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: center;
}
.section_container {
  margin: auto;
}
li {
  list-style: none;
}
.nav-link {
  color: black !important;
  text-transform: uppercase;
  font-size: 15px;
}
.nav-link:hover {
  color: #a58f11 !important;
}
.dropdown-toggle {
  color: black;
}
.dropdown-toggle:hover {
  color: #a58f11;
}
.nav-colored {
  background-color: white !important;
  transition: 0.5s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 17px rgba(23, 84, 116, 0.18);
}
.nav-transparent {
  background-color: transparent;
  transition: 0.5s;
}
.contacts_hide {
  transition: 1s;
  top: -60px;
}
.contacts_block {
  height: auto;
  top: 0px;
  transition: 0.5s;
}
.navbarItems1 {
  margin-top: -50px;
  transition: 0.5s;
}
.navbarItems2 {
  margin-top: 0px;
  transition: 0.5s;
}
/* Home */
.home_header {
  background-image: url(./home_header.webp);
  width: 100%;
  height: 37vw;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}
.home_title {
  max-width: 1400px;
  margin: auto;
  margin-top: 140px;
}
.home_title_text {
  text-align: center;
  max-width: 600px;
  text-transform: uppercase;
}
.light_title {
  font-size: 33px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.8);
}
.bold_title {
  font-size: 33px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
  margin: 20px 0;
}
.home_Title_button {
  border-color: rgb(56, 47, 0);
  background-color: rgb(56, 47, 0);
  overflow: hidden;
  position: relative;
  color: white;
  font-size: 16px;
  padding: 12px 25px;
  border-width: 2px;
  cursor: pointer;
  border-radius: 40px;
}
.home_Title_button:hover {
  border-color: rgba(56, 47, 0, 0);
  background-color: rgba(56, 47, 0, 0.7);
}

.container {
  max-width: 1400px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.sec_title {
  font-size: 35px;
  font-weight: bold;
  color: rgb(52, 52, 52);
  min-height: auto;
  line-height: 1.6;
  border-color: rgb(0, 0, 0);
  border-style: none;
  border-width: 0px;
  border-radius: 0px;
  letter-spacing: 0px;
  background-color: rgba(0, 0, 0, 0);
  margin: 25px 0;
  text-align: center;
  text-transform: uppercase;
}
.card {
  margin: 10px !important;
  border: none;
  text-align: center;
  padding: 10px 0;
  min-height: 460px;
}
.card:hover {
  margin: 10px !important;
  box-shadow: 0 0 17px rgba(23, 84, 116, 0.18);
}
.card-img-top {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: auto;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.readmore {
  font-size: 12px !important;
  padding: 10px 24px !important;
  background-color: #382f00;
  color: #f9f9f9;
  border-color: #382f00;
  outline-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  width: 130px;
  margin: auto;
}
.readmore:hover {
  background-color: rgba(56, 47, 0, 0.8);
  color: white;
  text-decoration: none;
}
.card-text {
  margin-bottom: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* About */
#AboutUs {
  margin-top: 200px;
}
.aboutus {
  display: flex;
  align-items: center;
}
.about_img {
  width: 100%;
  object-fit: contain;
  height: 700px;
}
.about_text {
  font-size: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 35px;
}
/* Gallery */
.gallery_post {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
}
.gallery_post:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* Videos */
.video {
  width: 100%;
  border-radius: 10px;
}
.videoTitle {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0;
}

/* slider */
.sliderRoot {
  width: 100%;
  background-image: url("./sliderBg.webp");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.carousel-inner {
  width: 75% !important;
  overflow: hidden;
  height: 300px;
}
.teambox {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}
.teamimg {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md if col-md-4*/
  .carousel-inner
    .active.col-md-4.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/
  .carousel-inner
    .active.col-sm-6.carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
  }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  /* Show 5th slide on lg if col-lg-3 */
  .carousel-inner
    .active.col-lg-3.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
.Team_name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 7px;
  padding: 5px;
}
.Team_text {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 5px;
}
#ContactUs {
  margin: auto;
  padding: 20px;
  min-height: 650px;
  position: relative;
}
.test {
  width: 100%;
  height: 650px;
  background-image: url(./contact.webp);
  background-position: 100% 65%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}
.contact_form {
  display: flex;
  flex-direction: column;
}
.contact_info {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact_icon {
  color: #f6d621;
  font-size: 30px;
}
.contact_text {
  margin: 0 20px;
}
.contact_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.8);
}
.contact_body {
  font-size: 15px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}
.contact_input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 8px;
  margin: 10px 0;
}
.contact_textarea {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
}
.contact_submit {
  position: relative;
  width: 120px;
  height: 50px;
  min-height: auto;
  border-color: rgb(56, 47, 0);
  background-color: rgb(56, 47, 0);
  color: white;
  border-radius: 20px;
  margin: auto;
  text-transform: capitalize;
}
.contact_submit:hover {
  background-color: rgba(56, 47, 0, 0.8);
  border-color: transparent;
}
.responsive-map {
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 500px;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .contacts {
    display: none;
  }
  .light_title {
    font-size: 25px;
  }
  .bold_title {
    font-size: 25px;
  }
  .home_title {
    margin-top: 0;
  }
  .navbarItems1 {
    margin-top: 0;
  }
  .home_header {
    padding: 250px 00;
  }
}
@media screen and (max-width: 1000px) {
  .light_title {
    font-size: 25px;
  }
  .bold_title {
    font-size: 25px;
  }
  .home_title {
    margin-top: 0;
  }
}
